.container{
    margin: auto;
    font-size: xx-large;
    font-family: cursive;
}

.imagen{
    width: 200px;
    height: 700px;
}
.card{
    position: relative;
    height: 800px;
    margin:1% 2% !important;
    border: 2px solid yellow;
}